@font-face{
    font-family: myfont;
    src: url('../font/Montserrat-Regular.ttf');
}

*{
    font-family: myfont, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}
body{
    background: #f5f5f5;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    cursor: pointer;
    background: white;
}

.logo img{
    height: 40px;
    margin: -15px;
}

.menu li{
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px;
    border-radius: 50px;
    border: none;
}
.menu li:hover{
    font-weight: bold;
}

.menu .transaction{
    margin-right: 30em;
    transition: all 0.3s ease 0s;
}
.menu .transaction:hover{
    font-weight: bold;
    background: rgb(12, 245, 117);
}