.transaction{
    margin-top: 20em;
    align-items: center;
    text-align: center;
}

.transaction input {
	text-align: center;
	margin-right: 30px;
}

.transaction input#date{
	
	width: 125px;
}

.transaction input#category{
	
}

.transaction input#businessName{
	
}

.transaction input#transactionAmount{
	
	width: 80px;
}
